.result-image-container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #000;
  max-height: 80vh;
  
  img {
    max-height: 80vh;
    object-fit: contain;
  }
}
