<ng-template [ngIf]="image" [ngIfElse]="uploadImage">
  <div class="row h-100">
    <div class="col-2 border-right">
      <!--    <form>-->

      <div class="form-group">
        <label for="vertical-line">Linha vertical</label>
        <select class="form-control" id="vertical-line">
          <option>Ocultar</option>
          <option>Acima</option>
          <option>Abaixo</option>
        </select>
      </div>

      <div class="form-group">
        <label for="preview">Preview</label>
        <select class="form-control" id="preview" [(ngModel)]="value.previews">
          <option *ngFor="let i of previews" [value]="i">{{ i }}</option>
        </select>
      </div>

      <div class="form-group form-check">
        <input type="checkbox" class="form-check-input" id="vertical-line-up-down">
        <label class="form-check-label" for="vertical-line-up-down">Linha vertical acima/abaixo</label>
      </div>

      <!--    </form>-->
    </div>
    <div class="col">
      <div class="flex-container">
        <div class="item grow-7">
          <app-image-analisys [image]="image"></app-image-analisys>
        </div>
        <div class="item grow-3" *ngIf="value.previews > 0">

          <div class="flex-container flex-container-vertical">

            <div class="item grow-1">item 2 sub item 1</div>
            <div class="item grow-1">item 2 sub item 2</div>
            <div class="item grow-1">item 2 sub item 3</div>

          </div>
          <!--        <div class="sub-item">-->
          <!--          <p>sub 1</p>-->
          <!--        </div>-->
          <!--        <div class="sub-item">-->
          <!--          <p>sub 2</p>-->
          <!--        </div>-->
        </div>
      </div>


      <!--    <img-->
      <!--      id="img-analisis"-->
      <!--      src="https://otempo.scene7.com/is/image/sempreeditora/especialista-aponta-gol-irregular-de-bruno-henrique-em-flamengo-x-vasco?qlt=90&wid=1200&ts=1741473084646&dpr=off"-->
      <!--      class="img-fluid"-->
      <!--      alt="analisys"-->
      <!--    >-->
    </div>
  </div>
</ng-template>
<ng-template #uploadImage>
  <div class="row justify-content-center align-items-center h-100">
    <div class="col-8">

      <div class="card">
        <div class="card-header">
          Analise por Imagem/Video Local
        </div>
        <div class="card-body">
          <div class="input-group mb-3">
            <input #inputFile type="file" [(ngModel)]="image" class="form-control" placeholder="Recipient's username" aria-label="Recipient's username" aria-describedby="button-addon2">
            <div class="input-group-append">
              <button class="btn btn-outline-secondary" type="button" id="button-addon2" (click)="inputFile.click()">Button</button>
            </div>
          </div>


<!--          <div class="form-group">-->
<!--            <label for="exampleFormControlFile1">Example file input</label>-->
<!--&lt;!&ndash;            <input type="file" class="form-control-file" id="exampleFormControlFile1" (change)="handleFileInput($event.target.files)" />&ndash;&gt;-->
<!--            <div class="input-group mb-3">-->
<!--              <input type="file" class="form-control form-control-file">-->
<!--              <div class="input-group-append">-->
<!--                <button class="btn btn-outline-secondary" type="button" id="button-addon2">Button</button>-->
<!--              </div>-->
<!--            </div>-->
<!--          </div>-->
        </div>
      </div>
<!--      <div class="card">-->
<!--        <div class="card-header">-->
<!--          Analise por Usando link-->
<!--        </div>-->
<!--        <div class="card-body">-->
<!--          <div class="form-group">-->
<!--            <label for="exampleInputEmail1">Email address</label>-->
<!--            <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">-->
<!--            <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>-->
<!--          </div>-->
<!--        </div>-->
<!--      </div>-->
    </div>
<!--    <div class="col-8">-->
<!--      <div class="card">-->
<!--        <div class="card-header">-->
<!--          Analise por Usando link-->
<!--        </div>-->
<!--        <div class="card-body">-->
<!--          <div class="form-group">-->
<!--            <label for="exampleInputEmail1">Email address</label>-->
<!--            <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">-->
<!--            <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>-->
<!--          </div>-->
<!--        </div>-->
<!--      </div>-->
<!--    </div>-->
  </div>
</ng-template>
