<div class="row h-100">
  <div class="col-12 d-flex align-items-center">
    <input
      type="range"
      [(ngModel)]="zoom"
      [min]="50"
      [max]="800"
      [step]="1"
      class="form-range"
      id="formControlRangeTop"
      name="zoom"
    >
  </div>
  <div class="col">
    <!--            <app-image-analisys></app-image-analisys>-->

    <div id="img-analysis">
      <div
        [appImageControls]="zoom"
        [scrollX]="scrollX"
        [scrollY]="scrollY"
        style="display: inline-block; position: relative;"
      >
        <img
          [src]="image"
          alt="analisys"
          appOffsideAnalysis
        >
      </div>
    </div>
  </div>
  <div class="col d-flex justify-content-center" style="max-width: 80px">
    <input
      type="range"
      class="form-range"
      id="formControlRangeRight"
      orient="vertical"
      name="scrollY"
      [(ngModel)]="scrollY"
      [min]="-100"
      [max]="100"
      [step]="1"
    >
  </div>
  <div class="col-12 d-flex align-items-center">
    <input
      type="range"
      class="form-range"
      id="formControlRangeBottom"
      name="scrollX"
      [(ngModel)]="scrollX"
      [min]="-100"
      [max]="100"
      [step]="1"
      style="rotate: 180deg"
    >
  </div>
</div>
