<div class="row flex-nowrap h-100">
  <div *ngIf="!!image" class="col sidenav px-2 pt-2 bg-dark d-flex flex-column gap-2">
    <p class="text-white">Analise</p>

    <div>
      <span class="text-light">Exibir</span>
      <select class="form-select" aria-label="Default select example" [(ngModel)]="options.lines" (input)="onChangeOptions()">
        <option value="none">Nenhum</option>
        <option value="area">Area</option>
        <option value="guides">Linha VAR</option>
        <option value="all">Todas</option>
      </select>
    </div>

    <div *ngIf="['all', 'guides'].includes(options.lines)">
      <span class="text-light">Tipo de linha</span>
      <select class="form-select" aria-label="Default select example" [(ngModel)]="options.offsideLineType" (input)="onChangeOptions()">
        <option value="horizontal">Horizontal</option>
        <option value="vertical">Vertical</option>
        <option value="all">Todas</option>
      </select>
    </div>

    <div class="form-check">
      <input class="form-check-input" type="checkbox" [(ngModel)]="options.verticalReference" id="verticalReference" (input)="onChangeOptions()">
      <label class="form-check-label text-white" for="verticalReference">
        Linha referencia vertical
      </label>
    </div>

    <div class="group">
      <label for="offsideLineLen" class="form-label text-light">Espessura da linha</label>
      <input
        type="range"
        [(ngModel)]="options.offsideLineLen"
        class="form-range"
        id="offsideLineLen"
        [step]=".05"
        [min]=".01"
        [max]="7"
        (input)="onChangeOptions()"
      >
    </div>

    <div class="group">
      <label for="offsideLineSpace" class="form-label text-light">Linha Vertical espacamento</label>
      <input
        type="range"
        [(ngModel)]="options.offsideLineSpace"
        class="form-range"
        id="offsideLineSpace"
        [step]=".1"
        [min]="0"
        [max]="5"
        (input)="onChangeOptions()"
      >
    </div>

    <div *ngIf="['all', 'guides'].includes(options.lines)">
      <span class="text-light">Linhas do var</span>
      <ul class="list-group">
        <li class="list-group-item">
          <div class="d-flex justify-content-between align-items-center">
            <span>Linhas de impedimento</span>
            <button type="button" class="btn btn-primary btn-block" (click)="addOffside()">
              <ng-icon name="hero-plus" color="#ffffff" style="display: flex"></ng-icon>
            </button>
          </div>
        </li>
        <li
          class="list-group-item"
          *ngFor="let offsideLine of offsideLines; let i = index"
        >
          <div class="d-flex justify-content-between align-items-center prevent-select">
            <input type="color" class="rounded" name="head" [(ngModel)]="offsideLine.color" (input)="onChangeOptions()" />
            <span (click)="toggleOffsideSelected(i)" class="cursor-pointer">
              <ng-icon *ngIf="options.offside === i" name="hero-check" class="text-primary"></ng-icon>
              Linha {{i}}
            </span>
            <div class="btn-group" role="group" aria-label="Button group with nested dropdown">
              <button
                type="button"
                class="btn"
                [class.btn-secondary]="!offsideLine.visible"
                [class.btn-info]="offsideLine.visible"
                (click)="showHiddenOffside(offsideLine)"
              >
                <ng-icon
                  [name]="offsideLine.visible ? 'hero-eye' : 'hero-eye-slash'"
                  style="display: flex;"
                ></ng-icon>
              </button>
              <button
                type="button"
                class="btn btn-danger"
                (click)="deleteOffsideLine(i)"
              >
                <ng-icon
                  name="hero-trash"
                  style="display: flex;"
                ></ng-icon>
              </button>
            </div>
          </div>
        </li>
      </ul>
    </div>

    <hr>

    <div>
      <span class="text-light">Filtro</span>
      <select class="form-select" aria-label="Default select example" [(ngModel)]="options.filtro" (input)="onChangeOptions()">
        <option value="none">Normal</option>
        <option value="invert">Inverter cores</option>
        <option value="grayscale">Escala a de cinza</option>
        <option value="sepia">Sepia</option>
      </select>
    </div>

    <div class="form-check">
      <input class="form-check-input" type="checkbox" [(ngModel)]="options.magnifier" id="magnifier">
      <label class="form-check-label text-white" for="magnifier">
        Lupa
      </label>
    </div>
<!--    <code>-->
<!--      <pre class="text-white">-->
<!--        {{ options | json }}-->
<!--      </pre>-->
<!--    </code>-->
  </div>
  <ng-container *ngTemplateOutlet="!!image ? analyse : picker"></ng-container>
</div>

<ng-template #picker>
  <div class="col d-flex justify-content-center align-items-center bg-load">
    <div class="card">
      <div class="card-body">
        <div class="group">
          <label for="formFile" class="form-label">Selecione arquivo de imagem</label>
          <input
            #inputFile
            type="file"
            [accept]="fileTypes"
            class="form-control"
            id="formFile"
            (change)="handleFileInput($event)"
            [multiple]="false"
          />
        </div>
<!--        <p class="text-center mt-3 mb-1">OU</p>-->
<!--        <div class="group">-->
<!--          <label for="formURL" class="form-label">Link do video</label>-->
<!--          <div class="input-group mb-3">-->
<!--            <input-->
<!--              #inputURL-->
<!--              type="url"-->
<!--              class="form-control"-->
<!--              id="formURL"-->
<!--              placeholder="https://location/file.mp4"-->
<!--              aria-describedby="send-button"-->
<!--              autocomplete="off"-->
<!--            >-->
<!--            <button class="btn btn-outline-secondary" type="button" id="send-button" (click)="openLink()">-->
<!--              <ng-icon-->
<!--                name="hero-paper-airplane"-->
<!--                style="display: flex;"-->
<!--              ></ng-icon>-->
<!--            </button>-->
<!--          </div>-->
<!--        </div>-->
      </div>
    </div>
  </div>
</ng-template>
<ng-template #analyse>
  <div class="col p-0">
    <div class="container-analysis">
      <div class="div1">
        <label for="customRange1">Zoom:</label>
        <input
          type="range"
          class="input-range"
          id="customRange1"
          [(ngModel)]="options.imageZ"
          min="-50"
          max="500"
        >
      </div>
      <div
        class="div2"
        (appEventZoom)="onZoomIn($event)"
        (verticalScroll)="onVerticalScroll($event)"
        (horizontalScroll)="onHorizontalScroll($event)"
      >
        <canvas
          #imageCanvas
          [style.top]="imageTop"
          [style.left]="imageLeft"
          [style.transform]="imageZoom"
          [appImageZoom]="options.magnifier"
          [appImageZoomSrc]="image.src"
          [appImageZoomSize]="2"
        ></canvas>
      </div>
      <div class="div3">
        <label for="customRange3">Y:</label>
        <input
          type="range"
          class="input-range"
          orient="vertical"
          id="customRange3"
          [min]="-100"
          [max]="200"
          [(ngModel)]="options.imageY"
        />
      </div>
      <div class="div4">
        <label for="customRange4">X:</label>
        <input
          type="range"
          class="input-range"
          id="customRange4"
          [min]="-100"
          [max]="200"
          [(ngModel)]="options.imageX"
        />
      </div>
    </div>
  </div>
</ng-template>
